body{
    background-color: #000;
    text-align: center;
    font-family: Veranda;
    font-weight: normal;
}

h1{
    color: #fff;
    font-family: Veranda;
    font-weight: normal;
    font-size: 50px;
}

h2{
    color: #fff;
    font-family: Verdana;
    font-weight: normal;
    font-size: 30px;
}

a{
    color: aquamarine;
    font-size: 16px;
    font-family: Veranda;
    font-weight: normal;
}

#video{
    text-align: center;
}

p{
    font-family: Veranda;
    font-weight: normal;
    color: gray;
    font-size: 21px;
}
#footer{
    text-align: right;
    color: gray;
    font-size: 21px;
}